.display-container {
	height: 100vh;
	/* display: grid;
   grid-template-columns: 1fr 1fr; */
	display: flex;
	max-width: 1200px;
	margin: 0 auto;
}

.operation {
	height: 100%;
	background-color: red;
	flex: 1;
}

.response {
	height: 100%;
	background-color: blue;
	flex: 1;
}

.bar {
	width: 4px;
	height: 100%;
	background-color: rgb(211, 210, 210);
	cursor: w-resize;
}
