.trans-container {
	/* display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; */
}

.trans-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
